# Several fields use the CPU Lists format.
# For the CPU Lists spec, refer to
# https://docs.kernel.org/admin-guide/kernel-parameters.html#cpu-lists

# Kernel command line parameters
kernel-cmdline:
  parameters:
    # Isolate CPUs from general execution (format: CPU Lists)
    # - isolcpus=2-3
  
    # Enable/disable dynamic ticks during idle time (on/off)
    # - nohz=on
  
    # Enable/disable full dynamic ticks (format: CPU Lists)
    # - nohz_full=2-3
  
    # Allocated CPUs for kernel threads (format: CPU Lists)
    # - kthread_cpus=0-1
  
    # Allocate CPUs for IRQ handling (format: CPU Lists)
    # - irqaffinity=0-1
  
    # Prevents CPUs from executing RCU callbacks (format: CPU Lists)
    # - rcu_nocbs=0-1

# Define rules for filtering IRQs and assigning them to specific CPUs
irq-tuning:
  # my-wireless-interface:
  #   # Arguments used to filter IRQs
  #   filter:
  #     actions: "iwlwifi"
  #     chip-name: "IR-PCI"
  #     name: "edge"
  #     type: "edge"
  #
  #   # CPUs that will handle the filtered IRQs (format: CPU Lists)
  #   cpus: "2-3"

# Define rules for CPU governance
cpu-governance:
  # cpus-for-kernel-threads:
  #   # CPUs that the rule applies to (format: CPU Lists)
  #   cpus: "0-1"
  #
  #   # CPU scaling governor (performance, powersave, etc.)
  #   scaling-governor: "performance"
  #
  #   # Minimum CPU frequency (units: GHz, MHz, kHz, Hz)
  #   min-freq: "1.2GHz"
  #
  #   # Maximum CPU frequency (units: GHz, MHz, kHz, Hz)
  #   max-freq: "2.5GHz"

